<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <title>کد فعال‌سازی حساب</title>
  </head>
  <body>
    <p style="direction: rtl">سلام دوست عزیز :)</p>
    <p style="direction: rtl">به کتاب لند خوش آمدید.</p>
    <p style="direction: rtl">لطفا جهت تکمیل اطلاعات وارد لینک زیر شوید.</p>
    <p style="direction: rtl">
      <a
        style="direction: rtl"
        href="http://ketabland.infinityfreeapp.com/users/edit_information?email={{email}}"
      >
        تکمیل اطلاعات
      </a>
    </p>
    <br />
    <p style="direction: rtl">با تشکر، کتاب لند</p>
  </body>
</html>
